:root {
  --bg: #262631;
  --main-color: #f3f3f3;
  --second-color: #326631;
  --third-color: #A8A8A8;
  --fourth-color: #6A6A6A;
  --highlight: #66314D;

  --main-font: 'League Spartan', sans-serif;
  --second-font: 'Work Sans', sans-serif;

  --test1: #7EAA73;
  --test2: #8573AA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 1rem;
}

/* Base */

main {
  display: flex;
}

/* main > section > * {
  border: 1px solid rgba(0, 0, 0, 20%);
} */

main > section {
  width: 50%;
  height: 100vh;
  background-color: var(--bg);
  padding: 4% 3%;
  z-index: 1;
}

@media (max-width: 970px) {
  main > section {
    width: 100%;
    padding: 8% 6%;
  }
}

main > aside {
  width: 50%;
  height: 100vh;
}

@media (max-width: 970px) {
  main > aside {
    display: none;
  }
}

main > aside > img {
  display: flex;
  width: 50vw;
  height: 100vh;
  object-fit: cover;
  object-position: right top;
}

/* End of Base */

main > section > .logo {
  display: flex;
}

main > section > .logo > img {
  width: 60%;
  min-width: 18rem;
}

main > section > .content {
  margin-top: calc(1rem + 9vh);
  display: grid;
  gap: .6rem;
}

main > section > .content > p:nth-of-type(1) {
  color: var(--second-color);
  font-size: calc(1rem + .9vw);
  font-family: var(--second-font);
  font-weight: 700;
}

main > section > .content > p:nth-of-type(2) {
  font-size: calc(.7rem + .6vw);
  font-weight: 700;
}

main > section > .content > p:nth-of-type(3) {
  font-size: calc(.6rem + .6vw);
  font-weight: 300;
  line-height: 1.5rem;
  letter-spacing: .075rem;
}

main > section > form {
  display: grid;
  margin-top: calc(1rem + 5vh);
  gap: 1rem;
}

main > section > form > label {
  font-size: calc(.6rem + .6vw);
}

main > section > form > div {
  display: flex;
  width: 120%;
}

@media (max-width: 970px) {
  main > section > form > div {
    width: 100%;
  }
}

main > section > form > div > input {
  padding: 1rem;
  border: none;
  border-left: .5rem solid var(--second-color);
  font-family: var(--main-font);
  font-size: calc(.6rem + .6vw);
  width: 100%;
}

main > section > form > div > button {
  display: flex;
  background-color: var(--second-color);
  border: none;
  padding: 0 1.65rem;
  place-items: center;
  background-image: url('./assets/send.svg');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

main > section> form > div > button > span {
  text-indent: -9999px;
}

/* main > section > .link,
main > section > .link > *,
main > section > .link > * > * {
  border: 1px solid rgba(0, 0, 0, 20%);
} */

main > section > .link {
  margin-top: 2rem;
}

main > section > .link > a {
  display: flex;
  align-items: center;

  color: var(--second-color);
  text-decoration: none;

  font-size: calc(.65rem + .65vw);
  font-weight: 700;
}

main > section > .link > a > img {
  margin-left: .5rem;
}
